extends layout

block content
	center
		h1 Investment And Weath Recorder
	.space
	.space
	center
		.row
			.col-sm-8.col-sm-offset-2
				h3 welcome #{username}
	.space
	.space
	center
		.row
			.col-sm-8.col-sm-offset-2
				a.btn.btn-success(href='/logout') Logout »