extends layout

block content
	center
		h1 Investment And Weath Recorder

	center
		.row
			.col-sm-8.col-sm-offset-2
				a.btn.btn-default(href='/login', role='button') Sign In »
				a.btn.btn-default(href='/login', role='button') Sign Up »
			