extends layout

block content
	center
		h1 Investment And Weath Recorder
	.space
	.space
	.row
		.col-sm-8.col-sm-offset-2
			form(role='form', action='/signup', method='post')
				.form-group
					label(for='firstname') First Name
					input.form-control#email(name='firstname', type='email', placeholder='Enter Email', required)
				.form-group
					label(for='middlename') Middle Name
					input.form-control#email(name='middlename', type='email', placeholder='Enter Email')
				.form-group
					label(for='lastname') Last name
					input.form-control#email(name='lastname', type='email', placeholder='Enter Email', required)

				.form-group
					label(for='password') Password
					input.form-control#password(name='password', type='password', placeholder='Enter Password', required)
				.form-group
					center
						label #{status}
				center
					button.btn.btn-primary(type='submit') Sign Up »
	.space
	center
		.row
			.col-sm-8.col-sm-offset-2
				h5 Already a User?
				a.btn.btn-default(href='/login', role='button') Sign In »
			